<article class ="post">
<div class="name">
<a>{{name}}</a>
<h4>{{location}}</h4>
<h4>{{specialty}}</h4>
</div>

<div class="user_posts">
    <a href="/post/{{id}}">{{comments.length}}</a>
</div>
</article>