<article class ="post">
<div class="name">
<a href="{{post_url}}" target="_blank">{{name}}</a>
<h4>{{location}}</h4>
</div>

<div class="user_posts">
    <a href="/post/{{id}}">{{comments.length}}</a>
</div>
</article>