<section>
<h2>Add a New Medical Provider</h2>

<form class="new-provider-form">
<div>
<label for="name">Name</label>
<input type="text" id="name" name="provider-name" />
</div>
<div>
<label for="location">Location</label>
<input type="text" id="location" name="location" />
</div>
<div>
<label for="specialty">Specialty</label>
<input type="text" id="specialty" name="specialty" />
</div>

<button type="submit" class="btn">Add Provider</button>

</form>

<!-- shows posts made by user -->
</section>
{{#if posts.length}}
<section>
    <h3>Providers You Have Added:</h3>
    <ul>
          {{#each posts}}
  <li>
      
    <article class="pure-u-1" style="text-align:center;">
        
      
       <!--part for the info from post-->
        <h2>{{name}}</h2>
        <h4>{{location}}</h4>
        <h4>{{specialty}}</h4>
        

    <!--comments div-->
      <div class="pure-u-1">
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
    </ul>
</section>
{{/if}}

<!-- logic for add post-->

<script type="text/javascript">
const user_id = window.localStorage.getItem('username');

async function newFormHandler(event) {
    event.preventDefault();

    console.log("hit async function");


    const name = document.querySelector('input[name="provider-name"]').value;
    console.log(name);


    const location = document.querySelector('input[name="location"]').value;
    console.log(location);


    const specialty = document.querySelector('input[name="specialty"]').value;
    console.log(specialty);

    
    //console.log(user_id);



    const user_data = { 
      name: name,
      location: location,
      specialty: specialty
    }

   
    const response = await fetch('/api/posts/', {
        
        method: 'POST',
        body: user_data,
        headers: {
            'Content-Type': 'application/json'
        }
    });

    if (response.ok) {
        console.log(  name, location, specialty);
       
        //document.location.replace('/dashboard');

    } else {
        alert(response.statusText);
        console.log('hit error in dash hbs')
    }
}


document.querySelector('.new-provider-form').addEventListener('submit', newFormHandler);
</script>
