<ul class="pure-u-1">
    <p>{{posts.length}} providers in the system</p>
    {{#each posts}}
  <li>
      
    <article class="pure-u-1" style="text-align:center;">
        
      
       <!--part for the info from post-->
        <h2>{{name}}</h2>
        <h4>{{location}}</h4>
        <h4>{{specialty}}</h4>
        <p>added by {{user_id}}</p>

    <!--comments div-->
      <div class="pure-u-1">
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ul>