<div >
                <img src="transflag.png" alt="transgender pride flag" width="300" />
            </div>

<ul style="list-style-type:none">
    <p>{{posts.length}} provider(s in the system</p>
    {{#each posts}}
  <li>
      
    <article>
        
      
       <!--part for the info from post-->
        <h2>{{name}}</h2>
        <h4>{{location}}</h4>
        <h4>{{specialty}}</h4>
      

    <!--comments div-->
      <div >
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ul>