<!--post div-->
<article class="post" style="text-align:center;">
    <div class="name" style="padding: 10px">
        <h1>{{post.name}}</h1>
        <h4>{{post.location}}</h4>
        <h4>{{post.specialty}}</h4>
        <!-- this user_id wont show-->
       
    </div>
    <!--comments div-->
    <div class="comments">
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>

    </div>

</article>


<!--add comments form-->
{{#if loggedIn}}
<form class ="comment-form" style="text-align:center;">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Review/Comment</button>
    
    </div>
</form>

<script>
    
</script>
<div class="comments" style="padding: 10px; margin: 10px">
    {{#each post.comments}}
    <section class="comment" style="padding:8px;">
        <div class="meta" style="color:cornflowerblue;">
            {{user_id}}
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>
{{/if}}


<!-- show comments by users-->
{{#if loggedIn}}
<script type="text/javascript">
    const user_id = window.localStorage.getItem('username');

    console.log(user_id);
    
    async function commentFormHandler(event) {
    event.preventDefault();
    const comment_text = document.querySelector('textarea[name="comment-body"]').value.trim();
    const post_id = window.location.toString().split('/')[
        window.location.toString().split('/').length - 1
    ];
    if (comment_text) {
        const response = await fetch('/api/comments', {
            method: 'POST',
            body: JSON.stringify({
                post_id,
                comment_text,
                user_id
                
                
                
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        if (response.ok) {
            document.location.reload();
        } else {
            alert(response.statusText);
     
    }
};}
document.querySelector('.comment-form').addEventListener('submit', commentFormHandler);
</script>
{{/if}}

